{
	"Auth": {
		"Cognito": {
			"userPoolClientId": "XXXXXXXXXXXXXXXXXXXXX",
			"userPoolId": "XXXXXXXXXXXXXXXXXXXXX"
		}
	},
	"API": {
		"REST": {
			"beta": {
				"endpoint": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
			}
		}
	}
}